.input{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.fill{
    width: 100%;
}

.button{
   
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    background-color: cornflowerblue;
}
.form{
    margin-top: 0px;
}

.icon{
    margin-right: 10px;
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }

.input2{
    width: 60%;
}
  
  .mat-form-field {
    margin-top: 16px;
  }
  .radio{
    margin: 15px;
}