
<mat-grid-list cols=8 rowHeight="40%" style="margin-top: 100px; position: sticky;">
    <br>
    <mat-grid-tile colspan="4" style="position: absolute;">
        <mat-accordion class="accordion">
            <mat-expansion-panel hideToggle class="accordion">
              <mat-expansion-panel-header>
                <mat-panel-title class="title">
                  Proteínas
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel class="accordion" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Alimentos permitidos
                </mat-panel-title>
                <mat-panel-description>
                 Su dieta incluye...
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Su dieta incluye los siguientes alimentos</p>
            </mat-expansion-panel>
          </mat-accordion>
        
        <br>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
        <mat-card class="card" style="width: 500px; height: 200px;">
            <mat-card-content style="width: 500px;">
              <h2 class="example-h2">Detalles y Especificaciones </h2>
              <mat-divider></mat-divider>
              <section class="example-section" *ngIf="mode === 'determinate'">
                <br>
                <br>
                <br>
                <label class="example-margin" style="margin-top: 75px;">En el lado derecho encontrará los alimentos que debe incluir en su dieta durante las siguientes 3 semanas. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  En cada comida deberá incluir 1 proteína, 1 carbohidrato, 1 fruta y 1 verdura.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  Ejemplo para desayuno: 1 huevo, 1 rodaja de pan, 1 manzana, 1 tomate.</label>
                <mat-slider class="example-margin" [(ngModel)]="value"></mat-slider>
              </section>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" style="position: absolute;">
      <mat-accordion class="accordion">
          <mat-expansion-panel hideToggle class="accordion">
            <mat-expansion-panel-header>
              <mat-panel-title class="title">
                Carbohidratos
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel class="accordion" (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Alimentos permitidos
              </mat-panel-title>
              <mat-panel-description>
               Su dieta incluye...
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Su dieta incluye los siguientes alimentos</p>
          </mat-expansion-panel>
        </mat-accordion>
      
      <br>
  </mat-grid-tile>

  <mat-grid-tile colspan="4" style="position: absolute;">
    <mat-accordion class="accordion">
        <mat-expansion-panel hideToggle class="accordion">
          <mat-expansion-panel-header>
            <mat-panel-title class="title">
              Frutas y Vegetales
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel class="accordion" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Alimentos permitidos
            </mat-panel-title>
            <mat-panel-description>
             Su dieta incluye...
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Su dieta incluye los siguientes alimentos</p>
        </mat-expansion-panel>
      </mat-accordion>
    
    <br>
</mat-grid-tile>
</mat-grid-list>


