.button{
    
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    background-color: cornflowerblue;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }