<div class="example-container mat-elevation-z8" style="margin-top: 100px;">
  <table mat-table [dataSource]="dataSource">


    <!-- Name Column --> 
    <ng-container matColumnDef="nombre_audio">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre_audio}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef> Link </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent">
          <mat-icon>movie</mat-icon>
        </button>
        {{element.link}}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="funcion">
      <th mat-header-cell *matHeaderCellDef> Función </th>
      <td mat-cell *matCellDef="let element"> {{element.funcion}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>