.input{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.button{
    width: 45%;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    background-color: cornflowerblue;
}
.form{
    margin-top: 0px;
}

.icon{
    margin-right: 10px;
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  

  .example-card {
    max-width: 600px;
  }
  
  .example-header-image {
    background-image: url('../../../assets/img/woman.png');
    background-size: cover;
  }